<script src="/bower_components/angular/angular.js"></script>
<script>
  var app = angular.module('exmpApp', []);

  app.controller('UserCtrl', function ($scope) {
    $scope.users = [{
      "name": "Samer",
      "age": 24
    }, {
      "name": "Ahmed",
      "age": 30
    }, {
      "name": "Rami",
      "age": 19
    }];

    $scope.addUser = function addUser () {
      var user = { name: $scope.name, age: $scope.age };
      $scope.users.push(user);
    }
  })
</script>

<body ng-app="exmpApp">
  <div class="container" ng-controller="UserCtrl">
    <ul>
      <li ng-repeat="user in users">{{user.name}} - age {{user.age}}</li>
    </ul>
    <form ng-submit="addUser()">
      Name <input type="text" ng-model="name"><br><br>
      Age <input type="number" ng-model="age"><br><br>
      <input type="submit" value="Add">
    </form>
  </div>
</body>