<script src="/bower_components/angular/angular.js"></script>
<script>
  var app = angular.module('exmpApp', []);

  app.controller('UserCtrl', function ($scope) {
    $scope.user = {};

    $scope.users = [{
      "name": "Samer",
      "age": 24
    }, {
      "name": "Ahmed",
      "age": 30
    }, {
      "name": "Rami",
      "age": 19
    }];

    $scope.addUser = function addUser () {
      $scope.users.push($scope.user);
      $scope.user = {};
    }

    $scope.removeUser = function (user) {
      var i = $scope.users.indexOf(user);
      $scope.users.splice(i, 1);
    }
  })
</script>

<body ng-app="exmpApp">
  <div class="container" ng-controller="UserCtrl">
    <ul>
      <li ng-repeat="user in users">
        {{user.name}} - age {{user.age}}
        <a href="" ng-click="removeUser(user)">remove</a>
      </li>
    </ul>
    <form ng-submit="addUser()">
      Name <input type="text" ng-model="user.name"><br><br>
      Age <input type="number" ng-model="user.age"><br><br>
      <input type="submit" value="Add">
    </form>
  </div>
</body>